@media (min-width: 769px) {
  .desktop-padding-1  { padding-inline: 1px;  }
  .desktop-padding-2  { padding-inline: 2px;  }
  .desktop-padding-3  { padding-inline: 3px;  }
  .desktop-padding-4  { padding-inline: 4px;  }
  .desktop-padding-5  { padding-inline: 5px;  }
  .desktop-padding-6  { padding-inline: 6px;  }
  .desktop-padding-7  { padding-inline: 7px;  }
  .desktop-padding-8  { padding-inline: 8px;  }
  .desktop-padding-9  { padding-inline: 9px;  }
  .desktop-padding-10 { padding-inline: 10px; }
  .desktop-padding-11 { padding-inline: 11px; }
  .desktop-padding-12 { padding-inline: 12px; }
  .desktop-padding-13 { padding-inline: 13px; }
  .desktop-padding-14 { padding-inline: 14px; }
  .desktop-padding-15 { padding-inline: 15px; }
  .desktop-padding-16 { padding-inline: 16px; }
  .desktop-padding-17 { padding-inline: 17px; }
  .desktop-padding-18 { padding-inline: 18px; }
  .desktop-padding-19 { padding-inline: 19px; }
  .desktop-padding-20 { padding-inline: 20px; }
  .desktop-padding-21 { padding-inline: 21px; }
  .desktop-padding-22 { padding-inline: 22px; }
  .desktop-padding-23 { padding-inline: 23px; }
  .desktop-padding-24 { padding-inline: 24px; }
  .desktop-padding-25 { padding-inline: 25px; }
}

@media (max-width: 768px) {
  .mobile-padding-1  { padding-inline: 1px;  }
  .mobile-padding-2  { padding-inline: 2px;  }
  .mobile-padding-3  { padding-inline: 3px;  }
  .mobile-padding-4  { padding-inline: 4px;  }
  .mobile-padding-5  { padding-inline: 5px;  }
  .mobile-padding-6  { padding-inline: 6px;  }
  .mobile-padding-7  { padding-inline: 7px;  }
  .mobile-padding-8  { padding-inline: 8px;  }
  .mobile-padding-9  { padding-inline: 9px;  }
  .mobile-padding-10 { padding-inline: 10px; }
  .mobile-padding-11 { padding-inline: 11px; }
  .mobile-padding-12 { padding-inline: 12px; }
  .mobile-padding-13 { padding-inline: 13px; }
  .mobile-padding-14 { padding-inline: 14px; }
  .mobile-padding-15 { padding-inline: 15px; }
  .mobile-padding-16 { padding-inline: 16px; }
  .mobile-padding-17 { padding-inline: 17px; }
  .mobile-padding-18 { padding-inline: 18px; }
  .mobile-padding-19 { padding-inline: 19px; }
  .mobile-padding-20 { padding-inline: 20px; }
  .mobile-padding-21 { padding-inline: 21px; }
  .mobile-padding-22 { padding-inline: 22px; }
  .mobile-padding-23 { padding-inline: 23px; }
  .mobile-padding-24 { padding-inline: 24px; }
  .mobile-padding-25 { padding-inline: 25px; }
  .mobile-padding-26 { padding-inline: 26px; }
  .mobile-padding-27 { padding-inline: 27px; }
  .mobile-padding-28 { padding-inline: 28px; }
  .mobile-padding-29 { padding-inline: 29px; }
  .mobile-padding-30 { padding-inline: 30px; }
  .mobile-padding-31 { padding-inline: 31px; }
  .mobile-padding-32 { padding-inline: 32px; }
  .mobile-padding-33 { padding-inline: 33px; }
  .mobile-padding-34 { padding-inline: 34px; }
  .mobile-padding-35 { padding-inline: 35px; }
  .mobile-padding-36 { padding-inline: 36px; }
  .mobile-padding-37 { padding-inline: 37px; }
  .mobile-padding-38 { padding-inline: 38px; }
  .mobile-padding-39 { padding-inline: 39px; }
  .mobile-padding-40 { padding-inline: 40px; }
  .mobile-padding-41 { padding-inline: 41px; }
  .mobile-padding-42 { padding-inline: 42px; }
  .mobile-padding-43 { padding-inline: 43px; }
  .mobile-padding-44 { padding-inline: 44px; }
  .mobile-padding-45 { padding-inline: 45px; }
  .mobile-padding-46 { padding-inline: 46px; }
  .mobile-padding-47 { padding-inline: 47px; }
  .mobile-padding-48 { padding-inline: 48px; }
  .mobile-padding-49 { padding-inline: 49px; }
  .mobile-padding-50 { padding-inline: 50px; }
}
